.detailsPaymentJournal {
  width: 70%;
  margin: auto;
  padding: 2%;

  .table {
    margin: auto;
    width: 100%;

    .tableRowInfo {
      background-color: #0f52ab;

      .tableCell {
        color: #fff;
        border: 1px solid #0f52ab;
        font-size: 1rem;
        letter-spacing: 1.5px;
      }
    }

    .tableRow {
      margin: auto;

      .tableCell {
        color: #363636;
        // border: 1px solid #363636;
        font-size: 1rem;
        letter-spacing: 1.5px;
      }
    }
  }
}
