.paymentTransction {
  width: 100%;
  margin: auto;
  margin-top: 2%;


  h1 {
    text-align: center;
    color: #0f52ab;
  }

  .paymentTransactionForm {
    width: 97%;
    margin: auto;
    padding: 1%;

    .one {
      display: inline-flex;
      width: 97%;


      .formGroup {
        width: 80%;
        margin: auto;

        .formLabel {
          background-color: #0f52ab;
          padding: 5px 0px 5px 5px;
          margin: 10px 0px 15px 0px;
          text-align: center;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1.5px;
        }

        .formInput {
          background-color: #fff;
          border: 1px solid gray;
          padding-left: 10px;

          &:hover {
            box-shadow: 0px 0px 5px #a90f52;
          }
        }

        .formHelperText {
          font-weight: bold;
          letter-spacing: 1px;
        }


      }

      .formGroupButton {
        margin: auto;
        margin-right: 1%;

        .saveButton {
          margin: auto;
          margin-top: 45px;
          background-color: #fff;

          .plusIcon {
            margin: auto;
            color: #a90f52;
            font-weight: bold;
            margin-bottom: 1%;

            &:hover {
              box-shadow: 0px 0px 5px #a90f52;


              letter-spacing: 1.5px;
            }
          }
        }
      }
    }

    .two {
      display: inline-flex;

      .formGroup {
        width: 80%;
        margin: auto;

        .formLabel {
          background-color: #0f52ab;
          padding: 5px 0px 5px 5px;
          margin: 10px 0px 15px 0px;
          text-align: center;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1.5px;
        }

        .formInput {
          background-color: #fff;
          border: 1px solid gray;
          padding-left: 10px;

          &:hover {
            box-shadow: 0px 0px 5px #a90f52;
          }
        }

        .formHelperText {
          font-weight: bold;
          letter-spacing: 1px;
        }


      }

      .formGroupButton {
        margin: auto;
        margin-right: 1%;

        .saveButton {
          margin: auto;
          margin-top: 45px;
          background-color: #fff;

          .plusIcon {
            margin: auto;
            color: #a90f52;
            font-weight: bold;
            margin-bottom: 1%;

            &:hover {
              box-shadow: 0px 0px 5px #a90f52;


              letter-spacing: 1.5px;
            }
          }
        }
      }
    }


  }


  .table {
    .tableHead {
      background-color: #1471e9;

      .tableRow {


        .tableCell {
          color: #fff;
          border: 1px solid #363636;
          font-size: 1rem;
          letter-spacing: 1.5px;
        }
      }
    }

    .tableBody {


      .tableRow {
        .tableCell {
          color: #363636;
          border: 1px solid #bebebe;
        }

        .tableCellTotal {
          color: #0f52ab;
          font-weight: bold;
          letter-spacing: 1.5px;
        }

        .tableBtn {
          color: #a90f52;
          border: 1px solid #a90f52;
          font-weight: bold;

          &:hover {
            background-color: #a90f52;
            color: #fff;
          }
        }
      }
    }
  }
}