.createPaymentJournal {
  width: 60%;
  margin: auto;
  border: 1px solid #0f52ab;
  margin-top: 2%;
  padding: 1%;

  h1 {
    text-align: center;
    color: #0f52ab;
  }

  .createPaymentJournalForm {
    width: 100%;
    margin: auto;
    padding: 1% 0%;

    .one {
      display: inline-flex;
      width: 40%;

      .formGroup {
        width: 80%;
        margin: auto;
        padding: 1%;

        .formLabel {
          background-color: #0f52ab;
          padding: 5px 0px 5px 5px;
          margin: 10px 0px 15px 0px;
          width: 60%;
          text-align: left;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1.5px;
        }

        .formInput {
          background-color: #fff;
          border: 1px solid gray;
          padding-left: 10px;
          min-height: 32px;

          &:hover {
            box-shadow: 0px 0px 5px #a90f52;
          }
        }

        .formHelperText {
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
    }

    .formGroup {
      .saveButton {
        margin: auto;
        margin-top: 40px;
        margin-bottom: 1%;
        width: 30%;
        background-color: #fff;
        border: 1px solid #a90f52;
        color: #a90f52;
        font-weight: bold;

        &:hover {
          background-color: #a90f52;
          border: 1px solid #fff;
          color: #fff;

          letter-spacing: 1.5px;
        }
      }
    }
  }
}
